#banner {
    width: 100vw;
}

main {
    text-align: center;
}

/* Sections display */
section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem;
}

em {
    background:linear-gradient(90deg, rgba(0,74,173,1) 10%, rgba(237,128,72,1) 90%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.seccion {
    background-color: #f9fafb;
    width: 30%;
    text-align: center;
    box-shadow: 0px 0px 10px rgb(0,0,0,1);
}

.icono {
    width: 40%;
}

h2 {
    margin-top: 0;
    font-size: 2rem;
    font-family: "Lato", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
    font-variation-settings:
      "wdth" 100;
}

.seccion h2{
    color: black
}

.seccion p {
    padding: 1rem;
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    font-variation-settings:
      "wdth" 100;
}

.map {
    width: 100%;
    margin-bottom: 1rem;
}

/* Sections animations */
@keyframes increase {
    from {
        width:30%;
        z-index: 1;
        background-color: #f9fafb;
        color: black;
    }
    to {
        width: 60%;
        z-index:500;
        background-color: #004aad;
        color: white;
    }
}

@keyframes incline {
    from {
        transform: skewX(0deg);
    }
    to {
        transform: skewX(10deg);
    }
}

.seccion:hover {
    animation: increase 500ms forwards;
}

#competencias:hover {
    animation: incline 500ms forwards;
}

/* Button and h2*/
h2 {
    color:white;
}

button {
    background-color: #ed8048;
    transform: skewX(-10deg);
    margin-bottom: 2rem;
    padding: 0.5rem;

    border-style: none;
    box-shadow: 0px 0px 10px rgb(0,0,0,1);
}

button a {
    text-decoration: none;
    color: white;

    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

button:hover {
    background-color: #004aad;
    
    transition: 
        background-color 500ms,
        color 500ms;
}

button a:hover {
    color:#ed8048;
    transition:
        color 500ms;
}

button:active {
    transform: scale(0.8) skewX(-10deg);
    transition:all 1000ms;
}